@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --black: #000000;
    --dark: #353535;
    --border: #ECECEC;
    --grey: #808080;
    --white: #ffffff;
    --light_red: #FF6060;
    --orange: #FF7F24;
    --green: #19b886;
    --ghost: #CFCFCF;
}

/* elements  */
.container {
    text-decoration: none;
    display: block;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.back-bottom {
    text-decoration: none;
    display: block;
    background-color: var(--light_red);
    color: var(--white);
    padding: 8px 0px;
    cursor: pointer;
}

.back-bottom img {
    position: relative;
    top: 2px;
    margin-right: 5px;
    margin-left: 20px;
}

.green-white-text {
    font-weight: 400;
    color: var(--green);
}

.tag-button {
    cursor: pointer;
    padding: 10px 45px;
    border-radius: 5px;
    background-color: var(--border);
    border: none;
    color: var(--grey);
    font-size: 12px;
}

/* components */
.header {
    padding: 10px 0;
    background-color: black;
    width: 100%;
    position: fixed;
}

.btn-category {
    cursor: pointer;
}

/* .mobile-block_index {
    min-height: 100vh;
    padding-top: 70px;

} */

.mobile-block {
    min-height: 100vh;
    padding-top: 55px;

}

.mobile-block__header {
    padding: 8px 0px;
    text-align: center;
    font-size: 12px;
    color: white;

}



.is-grey {
    background-color: var(--grey);
}

.is-green {
    background-color: var(--green);
}
.is-orange {
    background-color: var(--orange);
}

.news-card {
    text-decoration: none;
    display: block;
    color: black;
    cursor: pointer;
    padding: 20px 0px;
    border-bottom: 1.5px solid var(--border);
}

.news-card__title {
    /* font-size: 12px; */
    margin-top: 10px;
    margin-bottom: 8px;
}

.news-card__date, .news-card__category {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--grey);
}

.posy-detail-block {
    padding: 30px 0;
}


.posy-detail-block .news-card__title, .posy-detail-block .news-card__date {
    margin-bottom: 15px;
}

.description {
    font-size: 12px;
    margin-bottom: 15px;
}

.post-detail-block img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.autor {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}

.category-row {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
}

.category-item {
    text-decoration: none;
    cursor: pointer;
    border: 1.5px solid var(--border);
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.category-item:hover {
    background-color: var(--border);
}

.category-item__title {
    padding-top: 15px;
    color: black;
    font-size: 12px;
}

.category-item__title:hover {
    color: var(--grey)
}

.category-item__img, .category-item__title {
    display: block;

}

.category-item__img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 30px;

}


.loading-card {
    padding: 12px 0;
    border-bottom: 1px solid var(--border);
}

.loading-detail {
    padding-top: 20px;
}

.loading-row {
    gap: 20px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto auto;
}

.loading-item {
    border: 1.5px solid var(--border);
    padding: 30px;
    border-radius: 30px;
}

.skeleton-icon { 
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--border);
    animation: ghost 1s infinite linear;
    margin: 0 auto;
}

.skeleton-small-text {
    width: 70px;
    height: 20px;
    background-color: var(--border);
    animation: ghost 1s infinite linear;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    border-radius: 8px;
}

.skeleton-title, .skeleton-text, .skeleton-big-text, .skeleton-image {
    width: 100%;
    background-color: var(--border);
    border-radius: 8px;
    animation: ghost 1s infinite linear;
    margin-bottom: 15px;
}

.skeleton-title {
    height: 25px;
}

.skeleton-text {
    height: 15px;
}

.skeleton-big-text {
    height: 120px;
}

.skeleton-image {
    height: 220px;
}

@keyframes ghost {
    0% {
        background-color: var(--border);
    }
    50% {background-color: var(--ghost);}
    100% {
        background-color: var(--border);
    }
}

.error {
    background-color: var(--light_red);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;text-align: center;
    color: var(--white);
}

.error-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.error-description {
    font-size: 12px;
    margin-bottom: 12px;
}

.white-btn {
    background-color: var(--white);
    text-decoration: none;
    color: var(--light_red);
    padding: 10px 45px;
    border: none;
    border-radius: 30px;
    display: inline-block;
    font-size: 12px;
}